
.componentContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .table {
    border-collapse: collapse;
    .th {
      border: 1px solid black;
    }
    th:first-child {
      min-width: 300px;
    }
    th:nth-child(2) {
      min-width: 50px;
    }
    th:nth-child(3) {
      min-width: 150px;
    }
    th:nth-child(4) {
      min-width: 100px;
    }
    .td {
      border: 1px solid black;
      text-align: center;
    }
    .td:first-child {
      text-align: left;
    }
  }
  .totalCostInfo {
    font-weight: bold;
  }
}